:root{
    --border-color: black;
    --botton-color: white;
}

h3{
    font-weight: bold;
}

p{
    font-family: 'Times New Roman';
}

form{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.form_style{
    display: flex;
    flex-direction: column;
    text-align: left;
}
html, body{
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family:'Droid Serif', serif;
}

/* To not display when links have been visited */
a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}
nav a{
    padding-left: 3%;
    padding-right: 3%;
    flex-shrink: 0;
    white-space: nowrap;
}
/* header ----------------------------------------------------------------- */
/* Top bar div, includes top_bar_nav navigation*/
#top_bar{
    z-index: 99;
    display:flex; /* so nav bar doesn't escape >:) */
    align-items: center;
    justify-content: center;
    flex-wrap:nowrap;

    width: 100%;
    height:5%;
    background-color: rgb(215, 255, 236);
    position: sticky;
    top: 0;

    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
#top_bar_nav{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin: 0 auto;
    width:auto; 

    background-color: transparent;
}

/* Title and subtitle */
.header{
    z-index: 2;
    position:relative;
    flex-grow:1; /* So it doesn't step outside of header element */
    align-content: center;

    height: 350px;
    background-color: transparent;
    text-align: center;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
    padding:0;
}

.header-text {
    font-weight: bold;
    font-size: x-large;
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: max-content;
    margin:0;
    padding:0;
    text-align: center;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
  }

.bg-image{
    z-index: 1;
    width: 100%;
    height:100%;
    position:relative;
    /* For background image ....*/
    background-image: url("https://images.unsplash.com/photo-1450778869180-41d0601e046e?q=80&w=1886&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3Dhttps://images.unsplash.com/photo-1450778869180-41d0601e046e?q=80&w=1886&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    transition:0.3s;
}
.bg-image:hover{
    filter: blur(4px) brightness(80%);
}



/* end of header ---------------------------------------------------------- */
.submit{
    font-size: 15px;
    color: var(ba);
    font-family: cursive;
    padding: 15px 15px;
    border-radius: 15px;
    background-color: var(--botton-color);
    cursor: pointer;
    width: 350px;
}

.submit:hover{
    box-shadow: 5px 10px;
    
}

.box_form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px ; /* espaço entre os elementos*/
    padding: 30px;
    border: 5px var(--border-color);
    border-radius: 30px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: fit-content;
    max-width: 725px;
    height: fit-content;
    margin: 50px auto;
}

textarea{
    border-color: var(--border-color);
    text-align: center;
    width: 100px auto;
    border-radius: 15px;
    height: 30px ;
    
}
input{
    text-align: center;
    width: 100px auto;
    border-radius: 10px;
    height: 30px ;
}

div{
    padding-top: 10px;
    padding-bottom: 10px;
}
.container_img{
    display: flex;
    align-items: center;
    position: relative;
    gap: 15px;
    text-decoration: underline;
}
.container_img img {
    width: 20px;
    height: 20px;
}

.form_style{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}

.form_style_name{
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 10px;
}


.align{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.container {
    padding: 10px;
    display: flex;
    justify-content:space-evenly;
}

article {
    border: var(border);
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    width: 350px;
    height: 250px;
}

aside {
    border: var(border);
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    width: 150px;
    height: 250px;
}

article > p, h2 {
    margin: 5px;
}

aside > p, h3 {
    margin: 5px;
}

footer {
    display: flex;
    flex-direction: row;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

.copyright {
    display: flex;
    flex-direction: row;
    left: 0;
    bottom: 0;
}

.conts {
    display: flex;
    flex-direction: column;
    left: 10px;
    right: 10px;
    text-align: center;
}