.root{
    border: black;
}

.container {
    padding: 10px;
    display: flex;
    justify-content:space-evenly;
}

article {
    /* border: var(border);
    border-style: solid;
    border-radius: 10px; */
    width: 350px;
    height: 250px;
    padding: 5px;
}

aside {
    /*border: var(border);
    border-style: solid;
    border-radius: 10px;*/
    width: 150px;
    height: 250px;
    padding: 5px;
}